.header {
    color: #33CAFF;
    font-size: 100px;
}

h2 {
    color: #33caff;
    font-size: 60px;
}

body {
    background-color: #eee;
    font-family: Raleway, sans-serif;
}

p {
    font-size: 30px;
    color: #555;
}

.underline {
    border-bottom: 1px solid #ff830f;
    
}

img {
    width: 80%;
}

i {
    font-size: 150%;
}